<template name="header">

	<div class="ui large top fixed hidden menu">
		<div class="header item">HDLib</div>
		<a class="item" href="/">
			<i class="home icon"></i> Home
		</a>
		<a class="item" href="{{pathFor 'Pages'}}">Pages</a>
		{{#if currentUser}}
		<a class="item" href="{{pathFor 'Submit'}}">Submit</a>
		{{/if}}
		<a class="item" href="{{pathFor 'Posts'}}">Posts</a>
		<a class="item" href="{{pathFor 'Lists'}}">Lists</a>
		{{> loginButtons}}
	</div>

	<h1 class="ui header">{{pageTitle}}</h1>

</template>
