<template name="home">

	<div class="ui vertical stripe segment hidden">
		<div class="ui text container">

			<div class="ui raised segment">
				<div class="ui list">

					{{#each centersList}}
						{{> centerItem}}
					{{/each}}

				</div>
			</div>

		</div>
	</div>

	<div class="ui vertical stripe segment hidden">
		<div class="ui text container">

			<div class="ui raised segment">
				<div class="ui list">

					{{#each gatesList}}
						{{> gateInList}}
					{{/each}}

				</div>
			</div>

		</div>
	</div>

	



</template>
