<template name="layout">
	<header>
		<div class="container">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/posts">Posts</a>
				</li>
				<li>
					<a href="/lists">Lists</a>
				</li>
			</ul>
			{{> loginButtons}}
		</div>
	</header>
	<div class="container">
		<main>
			{{> yield}}
		</main>
	</div>
</template>

<template name="notFound">
	<div class="center">
		<h1>404</h1>
	</div>
</template>

<template name="loading">
	<div class="center">
		<h1>Loading</h1>
	</div>
</template>
