<template name="pageSubmit">
    <form class="main form">
		<div class="ui input left label">
			<label for="title">Title</label>
			<input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
		</div>
        <div class="ui input left label">
            <label for="url">Text</label>
            <input name="text" id="text" type="text" value="" placeholder="Enter some text" class="form-control"/>
        </div>
        <input type="submit" value="Submit" class="ui submit button"/>
    </form>
</template>
